* {
  box-sizing: border-box;
}

.vanilla-lightbox{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: none;
  .exit{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top:20px;
    right:20px;
    &:before{
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.001 512.001'%3E%3Cpath d='M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285a19.938 19.938 0 0014.143 5.857 19.94 19.94 0 0014.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z' fill='white' /%3E%3C/svg%3E");
      display: block;
      width: 34px;
      height: 34px;
    }
  }
  &-overlay{
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .gallery{
    max-width: 80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    max-height: calc(100vh - 30px);
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    @media (min-width: 768px){
      max-width: 80%;
      width: auto;
    }
    &::-webkit-scrollbar{
      display: none;
    }
    .image{
      transition: 0.3s opacity;
    }
    &.iframe{
      width: 100%;
      .image{
        position: relative;
        padding-top:70%;
        @media (min-width: 468px){
          padding-top:62%;
        }
        @media (min-width: 768px){
          padding-top:42%;
        }
      }
      iframe{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100%;
      }
    }
    .arrow{
      position: absolute;
      right:0;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(#fff, 0.2);
      padding: 4px 10px;
      cursor: pointer;
      transition: 0.3s all;
      z-index: 1;
      &:hover{
        background: rgba(#fff, 0.4);
      }
      &:before{
        content:'';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480.026 480.026'%3E%3Cpath d='M475.922 229.325l-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96a16.052 16.052 0 00-14.624 9.472c-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312-134.368 149.28c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z'/%3E%3Cpath d='M267.922 229.325l-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96a16.052 16.052 0 00-14.624 9.472c-2.56 5.792-1.504 12.544 2.72 17.216l134.368 149.312L4.114 389.293c-4.224 4.704-5.312 11.456-2.72 17.216 2.592 5.792 8.32 9.504 14.624 9.504h96c4.544 0 8.832-1.952 11.904-5.28l144-160c5.472-6.08 5.472-15.36 0-21.408z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 34px;
        height: 34px;
        display: block;
      }
      &.arrow-left{
        right:inherit;
        left:0;
        &:before{
          transform: rotate(180deg);
        }
      }
    }
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin:0 auto;
    @media (min-width: 768px){
      width: auto;
    }
  }
}

.hide{
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}
.show{
  display: block;
}